/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************
 Animation
 ****************** */

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein{
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/*******************
 Typography
 ****************** */
h1{ font-size: 1.8em; margin-bottom: 1.7em; line-height: 1.5em;}
h2{ font-size: 1.6em; margin-bottom: .8em; line-height: 1.5em;}
h3{ font-size: 1.3em; margin-bottom: .5em;}


.bigger{
    font-size: 1.2em;
    line-height: 1.5em;
}

h1, h2{
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

a{ color: inherit; border-bottom: 1px solid; text-decoration: none;}
a:hover{ border-bottom: 1px solid; }

h3,h4,h5{ font-weight: bold; }

body{ 
    font-family: Helvetica Neue, Helvetica, Arial, Verdana, serif;
    color: #555;
    font-size: 20px;
    line-height: 1.5em;
}

@media(max-width: 769px){
    body{ font-size: 16px;}
    h1{ font-size: 1.6em;  margin-bottom: 1em;}
    h2{ font-size: 1.35em; }
}

p{ 
    margin-bottom: 1em; 
}

.text-brand{ color: #EA711E; }

ul li{
    margin-bottom: 1em;
    position: relative;
    padding-left: 1.8em;
}

ul li:before{
    content: ' ';
    height: .6em;
    position: absolute;
    left: 0;
    margin-top: .4em;
    width: .6em;
    border: 1px solid #333;
}

ul.brand li:before{
    border-color: #D15515;
}

/*******************
 Logo
 ****************** */
.om-sky:before{
    content: ' ';
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background: #d5e2e7;
    height: 210px;
}

.om-tree{
    position: relative;
    height: 170px;
    display: block;
    margin: 40px auto 30px auto;
}

.om-tree-small{
    height: 75px;
}

.om-tree-small .om-tree-small-hidden{
    display: none;
}

.om-type{
    margin: 30px auto 50px auto;
    display: block;
    height: 63px;
}

@media(max-width: 769px){
    .om-type{ margin: 30px auto 10px auto; }
}

/*******************
 GRID
 ****************** */
*{ box-sizing: border-box; }
.row{
    margin: 0 -20px;
}

.row:after, .row:before{
    content: ' ';
    clear: both;
    display: table;
    box-sizing: border-box;
}

.half{ 
    width: 50%; 
    float: left;
    padding: 0 20px;
}

@media(max-width: 769px){
    .half{
        padding: 0 20px;
        width: 100%;
        float: left;
    }
}

/*******************
 Layout
 ****************** */
.center{
    margin: 0 auto;
}

.container{
    max-width: 750px;
}


/*******************
 Helper classes
 ****************** */
.text-center{ text-align: center; }
.m-t--l{ margin-top: 20px; }
.m-r--l{ margin-right: 20px; }
.m-b--l{ margin-bottom: 20px; }
.m-l--l{ margin-left: 20px; }
.m-t{ margin-top: 10px; }
.m-r{ margin-right: 10px; }
.m-b{ margin-bottom: 10px; }
.m-l{ margin-left: 10px; }
.m-t--s{ margin-top: 5px; }
.m-r--s{ margin-right: 5px; }
.m-b--s{ margin-bottom: 5px; }
.m-l--s{ margin-left: 5px; }

.p--l{padding: 20px;}



